@media (max-width: 767px) {
  .menu-item {
    margin: 0 1px !important;
  }
}

.menu-item {
  position: relative;
}

.menu-item a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s;
}

.menu-item a:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.3s;
}

.menu-item:hover a {
  background-position: 0;
}

.menu-item:hover a:before {
  width: 100%;
}