.custom-bullet-list {
  padding-left: 1.5rem;
}

.custom-bullet-item {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
}

.custom-bullet-item {
  transition: transform 0.2s ease;
}

.custom-bullet-item:hover {
  transform: scale(1.02);
}

.custom-bullet-item:before {
  content: '\2022';
  color: #333;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tag-wrapper {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.tech-tag {
  transition: transform 0.2s ease-in-out;
  border: 1px solid transparent;
}

.tag-wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.tag-wrapper:hover .tech-tag {
  transform: scale(1.1);
  border: 1px solid #5af;
}


